
:root{
    --background-c: #121212;
    --header-c: #2c2c2c;
    --text-c: aliceblue;
    background-color:var(--background-c, #121212);
    overflow-x: hidden;
    --block-color: rgb(51, 51, 51);
    --light-mode-color: aliceblue;
    --dark-mode-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
}

/* Display-P3 color, when supported. */
/*@supports (color: color(display-p3 0.18 0.18 0.18)) {*/
@media (color-gamut: p3) {
    :root {
        --block-color: color(display-p3 0.18 0.18 0.18 );
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--text-c, aliceblue);
    
}

body {
    margin: 0%;
}

body > main {
    margin-left: 1.5vw;
    /*margin-block-start: 10vh;*/
    margin-right: 1.5vw;
}

header {
    background-color:var(--header-c, aliceblue);;
    padding-left: 20px;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header > section {
    flex-shrink: 0;
    display: flex;
    align-items:  center;
    
}

header > section > h2 {
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    header > section > h2 {
        font-size: 1.7em;
    }
    header {
        font-size: 0.7em;
    }

    br:not(.only-break) {
        display: none;
    }
}



header > nav {
    padding-right: 2vw;
}

header > nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}


header > nav > ul > li:not(:first-child):not(:last-child):before {
    /*content: "|";*/
    margin-left: 5px;
}

header > nav > ul > li {
    margin: 0 5px;

}

header > nav > ul > li > a {
    text-decoration: none; 
    font-weight: bold;
}

form > fieldset > input, select, textarea {
    color:var(--dark-mode-color);
}